/* здесь используйте глобальные переменные */
// Ширина для медиа-запроса. Брейкпоинт для десктопа
$width-desktop: 1200px;

// Ширина для медиа-запроса. Брейкпоинт для планшета
$width-tablet: 768px;

// Ширина для медиа-запроса. Брейкпоинт для мобильного устройства
$width-mobile: 320px;
