/* здесь используйте глобальные переменные */
// Ширина для медиа-запроса. Брейкпоинт для десктопа
$width-desktop: 1200px;

// Ширина для медиа-запроса. Брейкпоинт для планшета
$width-tablet: 768px;

// Ширина для медиа-запроса. Брейкпоинт для мобильного устройства
$width-mobile: 320px;

// Шрифты
$font-family-text-big: "Drukwidecyr", Helvetica, Arial;
$font-family-text-medium: "DrukTextWideCyr", Helvetica, Arial;

// Цвет
$color-main: rgba(255, 198, 79, 1);
$color-main-dark: rgba(255, 153, 0, 1);
$color-dark: rgba(17, 17, 17, 1);
$color-white: rgba(255, 255, 255, 1);
$color-black: rgba(0, 0, 0, 1);
