.button-buy {
  text-align: center;
  background-color: $color-main;
  color: $color-white;
  @include bigText-ff-fs-fw-lh-tt;
  padding: 10px 0;
  border-radius: 150px;
  transition: background-color 0.5s ease;
  &:hover,
  &:active {
    background-color: $color-main-dark;
  }
}

.button {
  text-align: center;
  background-color: transparent;
  color: $color-white;
  @include bigText-ff-fs-fw-lh-tt;
  padding: 10px 30px;
  border-radius: 150px;
  border: 1px solid $color-white;
  transition: background-color 0.5s ease;
  &:hover,
  &:active {
    border: 1px solid transparent;
    background-color: $color-main-dark;
  }
}
