.header {
  width: 100%;
  position: fixed;
  z-index: 2;
}

.header__container {
  max-width: 860px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
}

// Мобильная навигация
.header-mobile {
  .header__container {
    padding: 14px 20px;
  }
  .navigation {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    flex-direction: column;
    padding: 48px 20px;
  }

  .navigation__list {
    flex-direction: column;
    align-items: center;
  }
  .navigation__button-buy {
    max-width: 60%;
    margin: 0 auto;
    padding: 10px 20px;
  }

  .navigation__address {
    margin: 0 auto;
    margin-top: auto;
    display: block;
    text-align: center;
  }
}

.header-mobile--open {
  .navigation {
    z-index: 2;
    transform: translateY(0);
  }
  .burger-menu {
    z-index: 3;
    position: absolute;
    right: 20px;
    &:hover,
    &:active {
      .burger-menu__toggle {
        background-color: transparent;
        &:before,
        &:after {
          background-color: $color-main-dark;
        }
      }
    }
  }
  .burger-menu__toggle {
    background-color: transparent;
    transition: background-color 0.3s ease;
    &:before {
      top: 0;
      transform: rotate(-45deg);
    }
    &:after {
      top: 0;
      transform: rotate(45deg);
    }
  }
}
