.navigation {
  display: flex;
  width: 100%;
  gap: 54px;
  margin: 0 auto;
  background-color: $color-dark;
  transform: translateY(-100%);
  transition: transform 1s ease;
  z-index: 2;
}

.navigation__logo {
  display: flex;
  justify-content: center;
  min-width: 137px;
  height: 78px;
}

.nav-logo {
  @include adaptiveImage;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 54px;
  row-gap: 10px;
}

.navigation__link {
  color: $color-white;
  @include bigText-ff-fs-fw-lh-tt;
  transition: color 0.5s ease;
  &:hover,
  &:active {
    color: $color-main;
  }
}

.navigation__address {
  display: none;
  color: $color-white;
  @include bigText-ff-fs-fw-lh-tt;
  line-height: 17px;
  font-weight: 400;
}

@media (min-width: $width-tablet) {
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    gap: 20px;
  }
  .navigation__list {
    max-width: 400px;
    column-gap: 20px;
    justify-content: space-between;
    row-gap: 5px;
  }

  .navigation__logo {
    min-width: 119px;
    height: 22px;
  }
  .navigation__button-buy {
    width: 150px;
  }
}
@media (min-width: $width-desktop) {
  .navigation {
    gap: 54px;
  }
  .navigation__button-buy {
    width: 195px;
  }
}
